

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background-color: #7cd3fd;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;
}

tbody tr:nth-child(even) {
    background-color: #b9e6fe;
}

/* Formulário */
form#filtroChamados {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 1rem;
}

select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}